<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>review_nc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.do</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>review_checked</servlet-name>
  	<servlet-class>review_package.review_checked</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>review_checked</servlet-name>
  	<url-pattern>/review_checked.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>fileupload</servlet-name>
  	<servlet-class>review_package.fileuploadok</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>fileupload</servlet-name>
  	<url-pattern>/fileuploadok.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>fileup - database</servlet-name>
  	<servlet-class>review_package.fileok</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>fileup - database</servlet-name>
  	<url-pattern>/fileok.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>index</servlet-name>
  	<servlet-class>review_package.index</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index.do</url-pattern>
  </servlet-mapping>
</web-app>