<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dbtest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>index1</servlet-name>
  	<servlet-class>test.index</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index1</servlet-name>
  	<url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>index2</servlet-name>
  	<servlet-class>test.index2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index2</servlet-name>
  	<url-pattern>/index2.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>today</servlet-name>
  	<servlet-class>test.today</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>today</servlet-name>
  	<url-pattern>/today.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>join</servlet-name>
  	<servlet-class>test.index3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>join</servlet-name>
  	<url-pattern>/index3.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>security</servlet-name>
  	<servlet-class>test.security</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>security</servlet-name>
  	<url-pattern>/security.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>index4</servlet-name>
  	<servlet-class>test.index4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index4</servlet-name>
  	<url-pattern>/index4.do</url-pattern>
  </servlet-mapping>
</web-app>